.postContainer{
  margin-top: 40px;
  /* background-image: "aibook.webp" !important; */
} 
.input {
    display: flex;
    flex-direction: column;
  }
  
  .labelName {
    margin-bottom: 5px;
  }
  
  .inputName {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: fit-content;
  }

  .alert{
    text-align: center;
    font-size: medium;
    font-weight: bold;
    color: var(--textColor);
    background-color: rgb(68, 182, 68);
  }


  .container {  
    padding: 50px;  
  background-color: rgb(36, 37, 80);
  border-radius: 40px 40px 40px 40px;
  width:50%;
  margin-left: 50px;
  border: 2px solid white;
  /* background-image: "aibook.webp"; */
}  
  
.input, .textarea {  
  width: 100%;  
  padding: 15px;  
  margin: 5px 0 22px 0;  
  display: inline-block;  
  border: none;  
  background: #f1f1f1;
  border-radius: 20px 20px 20px 20px;
}  
.input:focus {  
  background-color: orange;  
  outline: none;  
}  

 .mybody {  
            padding: 10px 0;  
            /* background-image: "aibook.webp" !important; */
         }  
.hr {  
  border: 1px solid #f1f1f1;  
  margin-bottom: 25px;  
}  
.registerbtn {  
  background-color: #207bea;  
  color: white;  
  padding: 16px 20px;  
  margin: 0 30% 0 30%;  
  border: none;
  border-radius: 20px 20px 20px 20px;
  cursor: pointer;  
  width: 40%;
}  
.registerbtn:hover {  
    background-color: #3020c2;  
} 
  